*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
.idea/modules.xml
library/build/generated/source/buildConfig/androidTest/debug/cn/bingoogolapple/refreshlayout/test/BuildConfig.java
.idea/modules.xml
library/build/generated/source/buildConfig/debug/cn/bingoogolapple/refreshlayout/BuildConfig.java
library/build/intermediates/blame/res/androidTest/debug/multi/values.json
library/build/intermediates/blame/res/androidTest/debug/single/drawable.json
library/build/intermediates/blame/res/androidTest/debug/single/layout.json
library/build/intermediates/blame/res/androidTest/debug/single/mipmap-hdpi-v4.json
library/build/intermediates/blame/res/debug/multi/values.json
library/build/intermediates/blame/res/debug/single/drawable.json
library/build/intermediates/blame/res/debug/single/layout.json
library/build/intermediates/blame/res/debug/single/mipmap-hdpi-v4.json
library/build/intermediates/bundles/debug/AndroidManifest.xml
library/build/intermediates/bundles/default/AndroidManifest.xml
library/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
library/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/values/values.xml
library/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
library/build/intermediates/incremental/mergeDebugAssets/merger.xml
library/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
library/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
library/build/intermediates/incremental/mergeDebugResources/merger.xml
library/build/intermediates/incremental/mergeDebugShaders/merger.xml
library/build/intermediates/incremental/mergeReleaseAssets/merger.xml
library/build/intermediates/incremental/mergeReleaseShaders/merger.xml
library/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
library/build/intermediates/incremental/packageDebugResources/merger.xml
library/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
library/build/intermediates/incremental/packageReleaseResources/merger.xml
library/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
library/build/intermediates/manifests/aapt/debug/AndroidManifest.xml
library/build/intermediates/manifests/aapt/release/AndroidManifest.xml
library/build/intermediates/res/merged/androidTest/debug/values/values.xml
library/build/intermediates/res/merged/debug/values/values.xml
library/build/outputs/aar/library-debug.aar
library/build/outputs/aar/library-release.aar
.idea/modules.xml
library/build/intermediates/blame/res/androidTest/debug/multi/values.json
library/build/intermediates/blame/res/androidTest/debug/single/drawable.json
library/build/intermediates/blame/res/androidTest/debug/single/layout.json
library/build/intermediates/blame/res/androidTest/debug/single/mipmap-hdpi-v4.json
library/build/intermediates/blame/res/debug/multi/values.json
library/build/intermediates/blame/res/debug/single/drawable.json
library/build/intermediates/blame/res/debug/single/layout.json
library/build/intermediates/blame/res/debug/single/mipmap-hdpi-v4.json
